<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="../static/css/clientes.css">
</head>

<body>
    <div class="vista-container">
        <header>
            <span class="home-icon" onclick="redirectToMenu()">🏠</span>
            <h2>Gestión de Clientes</h2>
        </header>
        <form class="clientes-form">
            <div class="input-group">
                <label for="cedula">Cédula</label>
                <input type="text" id="cedula" name="cedula">
            </div>
            <div class="input-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre">
            </div>
            <div class="input-group">
                <label for="telefono">Teléfono</label>
                <input type="text" id="telefono" name="telefono">
            </div>
            <div class="input-group">
                <label for="direccion">Dirección</label>
                <input type="text" id="direccion" name="direccion">
            </div>
            <div class="action-buttons">
                <button type="submit" class="guardar">Guardar Cliente</button>
                <button type="button" class="nuevo" onclick="resetForm('clientes-form')">Nuevo Cliente</button>
            </div>
        </form>
    </div>
    <script src="../static/js/app.js"></script>
</body>

</html>