<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contratos Vigentes</title>
    <link rel="stylesheet" href="../static/css/contratos_vigentes.css">
</head>

<body>
    <div class="vista-container">
        <header>
            <span class="home-icon" onclick="redirectToMenu()">🏠</span>
            <h2>Contratos Vigentes</h2>
        </header>
        <div class="contratos-vigentes">
            <table>
                <thead>
                    <tr>
                        <th>Contrato</th>
                        <th>Fecha</th>
                        <th>Vence</th>
                        <!-- <th>Item</th> -->
                        <th>Valor</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#1234</td>
                        <td>10/21/2022</td>
                        <td>11/21/2022</td>
                        <!-- <td>Rolex Watch</td> -->
                        <td>$2,000</td>
                        <td><button class="view-details">View Details</button></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    <script src="../static/js/app.js"></script>
    <script>
        // Función para los botones "View Details"
        document.querySelectorAll('.view-details').forEach(button => {
            button.addEventListener('click', function () {
                alert('Detalles del contrato seleccionados. Implementa la lógica aquí.');
            });
        });
    </script>
</body>

</html>