<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="../static/css/InicioSesion.css">
</head>

<body>
    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <form class="login-form" onsubmit="event.preventDefault()">
            <div class="input-group">
                <label for="usuario">Usuario:</label>
                <input type="text" id="usuario" name="usuario" required>
            </div>
            <div class="input-group">
                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena" required>
            </div>
            <button onclick="login()" type="submit">Ingresar</button>
        </form>
    </div>
    <script src="../static/js/view/InicioSesion.js"></script>

</body>

</html>