<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="../static/css/InicioSesion.css">
</head>

<body>
    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <form class="login-form" id="formulario-inicio-sesion">
            <div class="input-group">
                <label for="usuario">Usuario:</label>
                <input type="text" id="cedula" name="cedula" required>
            </div>
            <div class="input-group">
                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena" required>
            </div>
            <button  type="submit">Ingresar</button>
        </form>
    </div>
    <script type="module" src="../static/js/view/InicioSesion.js"></script>

</body>

</html>