<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link rel="stylesheet" href="../static/css/menu.css">
</head>

<body>
    <div class="menu-container">
        <h2>Menú</h2>
        <div class="menu-buttons">
            <button onclick="redirectToVista('contratos')">Contratos</button>
            <button onclick="redirectToVista('ventas')">Ventas</button>
            <button onclick="redirectToVista('clientes')">Clientes</button>
            <button onclick="redirectToVista('crear_producto')">Productos</button>
        </div>
    </div>
    <script type="module" src="../static/js/app.js"></script>

</body>

</html>